# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.rej
*.swo
*.swp
*.vi
*.cache
*.egg-info
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
tests/coverage_html/
tests/.coverage
*.log
*.pyc
local_settings.py
settings.py
*~
*#

# OS or Editor folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.tm_properties
._*

# Folders to ignore
.hg
.svn
.CVS
.idea
_assets
_design
_content
_tmp
dist
build
_build
